/* base (mobile first) */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    color: rgb(201, 201, 201);
}

.title {
    font-size: 2rem;
    height: 1.6rem;
    color: rgb(240, 240, 240);
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 0.5rem;
    height: calc(100vh - 13rem);
}

.stopmotion_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ahmad_stop_motion {
    width: 100%;
    height: auto;
}

.about_me {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.page_one,
.page_two,
.page_three {
    padding: 0.5rem;
    position: fixed;
    width: 100%;
}

.page_one {
    position: fixed;
    background-color: rgb(27, 27, 27);
    top: 0;
    height: 150vh;
    width: 100%;
    z-index: 0;
}

.page_two {
    position: fixed;
    top: calc(100vh - 5.8rem);
    height: calc(100vh - 3rem);
    width: 100%;
    background-color: rgb(15, 15, 15);
    /*margin-top: 90vh;*/
    /* border-top: 1px solid white; */
    z-index: 1;
}

.page_three {
    position: fixed;
    top: calc(100vh - 2.8rem);
    height: calc(100vh - 3rem);
    width: 100%;
    background-color: black;
    /* border-top: 1px solid white; */
    /*margin-top: 90vh;*/
    z-index: 2;
}