/* base (mobile first) */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
    /* font-family: 'Roboto', 'sans-serif'; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    color: rgb(201, 201, 201);
}

body {
    font-family: 'Roboto', 'sans-serif';
}

.title {
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.title * {
    font-size: 1.5rem;
    color: rgb(240, 240, 240);
}

.waving_hand_emoji {
    padding-left: 0.5rem;
    height: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 0.5rem;
    height: calc(100vh - 13rem);
}

.stopmotion_container {
    position: relative;
    flex: 1;
    display: flex;
    height: 20rem;
    justify-content: center;
    align-items: center;
}

.replay_btn {
    position: absolute;
    height: 2rem;
    bottom: 44%;
    opacity: 0;
    filter: contrast(75%);
    transition: all 500ms ease;
}

.ahmad_stop_motion {
    width: 100%;
    height: auto;
}

.about_me {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1rem;
}

.about_me h1 {
    font-size: 1rem;
    padding-bottom: 0.6rem;
}

.about_me p {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.45rem;
}

.page_one,
.page_two,
.page_three {
    padding: 0.5rem;
    position: fixed;
    width: 100%;
}

.page_one {
    position: fixed;
    background-color: rgb(27, 27, 27);
    top: 0;
    height: 150vh;
    width: 100%;
    z-index: 0;
}

.page_two {
    position: fixed;
    top: calc(100vh - 5.8rem);
    height: calc(100vh - 3rem);
    width: 100%;
    background-color: rgb(15, 15, 15);
    /*margin-top: 90vh;*/
    /* border-top: 1px solid white; */
    z-index: 1;
}

.page_three {
    position: fixed;
    top: calc(100vh - 2.8rem);
    height: calc(100vh - 3rem);
    width: 100%;
    background-color: black;
    /* border-top: 1px solid white; */
    /*margin-top: 90vh;*/
    z-index: 2;
}